{% extends "base.html" %}
{% load static %}

{%block css_static %}
  <link href="{%static 'css/payment/reserved_page.css' %}?ver=1.04" rel="stylesheet">
{%endblock%}

{% block section %}
  <div class='guideline_wrap'>
    <div class='top_wrap'>
      <h1>신청서 접수</h1>
      <hr>
      <div class='mentor_wrap'>
        <div class= 'mentor_img'>
          <img src="{{mentor.image.url}}">
        </div>
        <div class='mentor_info'>
          <h4>신청한 멘토</h4>
          <br>
          <p>이름/ {{mentor.user.name}}</p>
          <p>학교/ {{mentor.univ_categories.categorized.university.name}} {{mentor.univ_categories.name}}</p>
          <p>분야/ {{mentor.consult_kind}}, {{mentor.detail_consulting}}</p>
        </div>
        <div class='mentoring_time'>
          <h4>멘토 상담 희망 시간</h4>
          <br>
          <p>월/ 17:30 ~ 20:00</p>
          <p>수/ 18:00 ~ 19:00</p>
          <p>금/ 18:00 ~ 19:00</p>
        </div>
      </div>
      <hr>
    </div>

    <div class='mid_wrap'>
      <div class='payment_step'>
        <span class="step_1">[1] 상담 안내</span><span> > </span><span class="step_2">[2] 신청서 작성</span><span> > </span><span class="step_3">[3] 결제 및 예약</span>
      </div>
    </div>
{% endblock %}