{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>qing</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <!--myjs-->
  <script src="{% static 'js/base.js' %}?ver=1.03"></script>
  {% block js_static %}{% endblock %}

  <!--mycss-->
  <link href="{%static 'css/base.css' %}?ver=1.08" rel="stylesheet">
  {% block css_static %}{% endblock %}

</head>
<body>
  <!--nav-->
    <nav>
      <h1 class='nav_logo'>
        <a href="{%url 'core:main'%}">
          <img src="{%static 'base/logo.png'%}">
          <p class="weight_normal">15분 전화 멘토링</p><p class="weight_bold">, 큐잉</p>
        </a>
      </h1>
      <ul>
        <li><a href="{%url 'core:service'%}">서비스 소개</a></li>
        <li><a href="{%url 'mentor:consult_main'%}">멘토 소개 / 접수</a></li>
        <li><a href="{%url 'core:FAQ'%}">요금안내</a></li>
        {% if request.user.is_authenticated %}
        <li class="mypage_dropbox">
          <a href="#" >
          <img src="{{request.user.mentor_univ.image.url}}"class="nav_photo">
          {{request.user.name}}
          </a>
          <div class="dropdown-content" id="myDropdown">
            <a href="{%url 'accounts:account_logout'%}">로그아웃</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        {% else %}
        <li><a href="{%url 'accounts:account_login'%}">로그인</a></li>
        {% endif %}
      </ul>
    </nav>

  <!--section-->

  <section>
    {% if user.is_authenticated and user.is_mentor_univ %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/teachers.css' %}">
      멘토입니다
    {% elif user.is_authenticated and user.is_mentee %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">
      멘티입니다
    {% endif %}
    {%block section%}
    {%endblock%}
  </section>

  <!--footer-->
  <footer>
    <div class="footer_wrap">
      <h3>큐잉</h3>
      <p>(주)로켓단</p>
      <br>
      <p>대표이사/ 박성환</p>
      <p>주소</p>
      <p>대표전화</p>
      <p>사업자번호</p>
      <p>통신판매업번호</p>
      <p>문의하기</p>

    </div>
  </footer>

</body>
</html>