{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="naver-site-verification" content="7726bd0a121d46d4986778ece965b60c72eee280"/>
  <meta name= "description=" Content="세상의 모든 궁금증! 큐잉에 물어보세요">
  <title>큐잉</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <!--font_awesome-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>



  <!--myjs-->
  <script src="{% static 'js/base.js' %}?ver=1.05"></script>
  {% block js_static %}{% endblock %}

  <!--mycss-->
  <link href="{%static 'css/base.css' %}?ver=1.14" rel="stylesheet">
  {% block css_static %}{% endblock %}

</head>
<body>
  <!--nav-->
    <nav>
      <h1 class='nav_logo'>
        <a href="{%url 'core:main'%}">
          <img src="{%static 'base/logo.png'%}">
          <h3 class="weight_normal">15분 전화 멘토링</h3><h3 class="weight_bold">, 큐잉</h3>
        </a>
      </h1>
      <ul>
        <li><a href="{%url 'core:service'%}" class = "service_page">서비스 소개</a></li>
        <li><a href="{%url 'mentor:consult_main'%}" class="mentor_page">멘토 소개 / 접수</a></li>
        <li class="FAQlink"><a href="#">요금안내/FAQ</a>
          <div class="dropdown_content_FAQ" id="myDropdown">
            <div class="transparent"></div>
            <div class="triangle"></div>
            <a href="{%url 'etc:charge_info'%}" class="color_orange">이용요금</a>
            <a href="{%url 'etc:FAQ'%}" class="color_orange">자주하는 질문</a>
            <a href="{%url 'etc:inquiry'%}" class="color_orange">1:1 문의하기</a>
          </div>
        </li>



        {% if request.user.is_authenticated %}
        <li class="mypage_dropbox">
          <a href="#" >
          {{request.user.name}}
          </a>
          <div class="dropdown_content_mypage" id="myDropdown">
            <div class="transparent"></div>
            <div class="triangle"></div>
            <a href="{%url 'payment:my_reservation' request.user.username %}">마이페이지</a>
            <a href="{%url 'accounts:account_logout'%}">로그아웃</a>

            <a href="#">Link 3</a>
          </div>
        </li>
        {% else %}
        <li><a href="{%url 'accounts:account_login'%}">로그인</a></li>
        {% endif %}
      </ul>
    </nav>

  <!--section-->

  <section>
    {% if request.user.mentor_univ.is_mentor_univ%}
      <link rel="stylesheet" type="text/css" href="{% static 'css/teachers.css' %}">
      멘토입니다
    {% elif user.is_authenticated and user.is_mentee %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">
      멘티입니다
    {% endif %}
    {%block section%}
    {%endblock%}
  </section>

  <!--footer-->
  <footer>
    <div class="footer_wrap">
      <h3>큐잉</h3>
      <p>(주)로켓단</p>
      <br>
      <p>대표이사/ 박성환</p>
      <p>주소/ 서울특별시 동대문구 안암로 26길 9(제기동)</p>
      <p>대표전화/ <a href="tel:010-6574-4115">010-2988-9910</a></p>
      <p>사업자번호/ 773-15-00723</p>
      {# <p>통신판매업번호</p> #}
      <p>문의하기 <a href="mailto:qingrocket@gmail.com">qingrocket@gmail.com</a></p>
      <hr>
    </div>
    <div class="copyright">
      <p><a href="#">개인정보취급방침</a> / <a href="#">서비스 이용약관</a></p>
      <p>copyright Rocketdan, All rights Reserved</p>
    </div>
  </footer>

</body>
</html>