{% extends "base.html" %}
{% load static %}

{%block css_static %}
  <link href="{%static 'css/cunsult_main.css' %}?ver=1.01" rel="stylesheet">
{%endblock%}

{% block section %}
  <div class="select_wrap">
    <div class="select_box">
      <a href="#">
        <h1>대학별 입시상담</h1>
      </a>
    </div>
    <div class="select_box">
      <a href="#">
        <h1>기업별 채용 상담</h1>
      </a>
    </div>
    <div class="select_box">
      <a href="#">
        <h1>국가별 해외 교환
        <br>유학상담</h1>
      </a>
    </div>
  </div>
{% endblock %}