{% load static %}

<link href="{%static 'css/mentor/mentor_profile.css' %}?ver=1.02" rel="stylesheet">

<div class="profile_wrap">
  <h1>대학 입시 전문 멘토 프로필</h1>
  <hr>
  <div class="profile_detail">
    <div class="mentor_photo">
      <img src="{{mentor.image.url}}">
    </div>
    <div class="mentor_intro">
      <h1>대학 입시 전문 멘토</h1>
      <br/>
      <h4>이름 / {{mentor.user.name}}</h4>
      <h4>학교 / {{mentor.univ_categories.categorized.university.name}} {{mentor.univ_categories.name}}</h4>
      <h4>분야 / {{mentor.consult_kind}}, {{mentor.detail_consulting}}</h4>
      <br/>
      <h1>경력</h1>
      <br/>
      <p>2014학년도 고려대학교 (서울) 수시 논술 우선선발 전형 최초합격</p>
      <p>2014학년도 한양대학교 (서울) 수시 논술 우선선발 전형 최초합격</p>
      <p>2014학년도 육군사관학교 합격</p>
      <p></p>
      <br><br>
      <div class="mentoring_time">
        <h1>멘토 상담 희망 시간</h1>
        가나다라마바사
      </div>

    </div>
    <div class="mentoring_apply">
      <hr style="width:50px">
      <br/>
      <a href="#">멘토링 접수하기 >></a>
    </div>
  </div>
  <hr>
  <dir class="review_wrap">
    <h1>이용후기(으어)</h1>
    <br/>
    <div class="review_box">
      나중에 할게요...
    </div>
  </dir>
  <hr>
</div>