{% extends "base.html" %}
{% load static %}

{%block css_static %}
  <link href="{%static 'css/mentor/search_univ_mentor.css' %}?ver=1.03" rel="stylesheet">
{%endblock%}

{% block section %}
  <div class="search_wrap">
    <h1>대학별 입시 상담</h1>
    <div class="search_box">
      <div>
        대분류
      </div>
      <div>
        중분류
      </div>
      <div>
        소분류
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="mentor_wrap">
  </div>
  <div class="infinite_scroll">
{% endblock %}