html{
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

body{
margin:0;
}

nav{
  position: fixed;
  display:flex;
  top:0;
  left:0;
  right:0;
  background:#0e224c;;
  border-bottom: 1px solid #1f2f59;
  height: 70px;
  z-index:200;
  flex-direction: row;
  align-items: center;
}

.nav_logo{
  height:70px;
  margin:0;
  display:flex;
  flex:1;
  flex-direction: row;
  align-items: center;
  color:white;
}
nav h1 a{
  display:flex;
}
.nav_logo img{
  height:35px;
}
.nav_logo p{
  display: flex;
  margin:0;
  text-align: center;
}


nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
nav ul li{
  width:140px;
  font-size: 0.900rem;
  text-align: center;
}

nav li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

td, th{
  padding: 0;
}

.nav_photo{
  width:40px;
  height:40px;
}
.transparent{
  height:20px;

}
.triangle{
    margin:auto;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #3b4a72;
    border-left: 15px solid transparent;
}
.dropdown_content_FAQ {
    display: none;
    top:0;
    margin-top:35px;
    min-width:140px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content_FAQ a {
    float: none;
    color: #ffffff;
    padding: 12px 0;
    text-decoration: none;
    background-color: #3b4a72;
    display: block;
    text-align: center;
}
.dropdown_content_mypage {
    display: none;
    top:0;
    margin-top:35px;
    min-width:140px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content_mypage a {
    float: none;
    color: #ffffff;
    padding: 12px 0;
    text-decoration: none;
    background-color: #3b4a72;
    display: block;
    text-align: center;
}
.show {
    display: block;
}

/*section*/
section{
  color: #ffffff;
  background:#0e224c;;
  margin-top:70px;
  width:100%;
  min-height: 500px;
  border-bottom: 1px solid #1f2f59;
}


/*footer*/
footer{
  background:#0e224c;;
  display:block;
  width:100%;
  min-height:250px;
  color:white;
  padding-top: 20px
}
.footer_wrap{
  width:70%;
  margin-left:100px;
  max-height: 250px;
}
.footer_wrap p{
  padding-bottom: 5px
}
.copyright{
  margin: auto;
  width:70%;
  text-align: center;
  padding-bottom: 10px
}

/*default*/
a{
  text-decoration: none;
  color:inherit;
}
h1,h2,h3,h4,h5,h6,p{
  margin:0;
}
h1 {
  font-size: 30px;
  font-weight:700;
}
h2{
  font-size: 25px;
  font-weight:600;
}
h3{
  font-size:20px;
}
h4{
  font-size:15px;
}
p{
  font-size: 13px;
}

.weight_normal{
  font-weight: normal;
}
.weight_bold{
  font-weight: bold;
}

hr{
  border: 0;
  height: 1px;
  background: #1f2f59;
  margin: 20px 0;
}
ul{
  list-style-type: none;
  padding:0;
}
.color_orange:hover{
  color:#fbb03c;
}