{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block head_title %}{% endblock %}

{% block css_static %}
  <link href="{% static 'css/accounts/signup_mentor.css' %}?ver=1.20" rel="stylesheet">
{% endblock %}

{% block section %}
{{form.media.css}}
<div class="signup_wrap">
  <h2>멘토 회원가입</h2>
  <br>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="text" name="name" maxlength="10" placeholder="이름" required="" id="id_name" class="input_box"></p>
    <input type="text" name="username" maxlength="20" autofocus="" placeholder="아이디" required="" id="id_username" class="input_box">
    <input type="password" name="password1" placeholder="비밀번호" required=""  id="id_password1" class="input_box">
    <input type="password" name="password2" placeholder="비밀번호 확인" required="" placeholder="비밀번호 확인" id="id_password2" class="input_box">

    <input type="email" name="email" placeholder="이메일" maxlength="254" id="id_email" class="input_box">
    <input type="number" name="mentor-phone_number" placeholder="휴대전화"  required="" id="id_mentor-phone_number" class="input_box">

    <!--radio-->
    <label for="">상담가능분야</label>
    <ul id="id_mentor-consult_kind" class='radio_ul'>
      <li>
        <input type="radio" name="mentor-consult_kind" value="수시" required="" id="id_mentor-consult_kind_0">
        <label for="id_mentor-consult_kind_0">수시</label>
      </li>
      <li>
        <input type="radio" name="mentor-consult_kind" value="정시" required="" id="id_mentor-consult_kind_1">
        <label for="id_mentor-consult_kind_1">정시</label>
      </li>
    </ul>

    <label for="">세부사항</label>
    <ul id="id_mentor-detail_consulting" class="radio_ul">
      <li>
        <input type="radio" name="mentor-detail_consulting" value="자소서" required="" id="id_mentor-detail_consulting_0">
        <label for="id_mentor-detail_consulting_0">
        자소서</label>
      </li>
      <li>
        <input type="radio" name="mentor-detail_consulting" value="면접" required="" id="id_mentor-detail_consulting_1">
        <label for="id_mentor-detail_consulting_1">면접</label>
      </li>
      <li>
        <input type="radio" name="mentor-detail_consulting" value="논술" required="" id="id_mentor-detail_consulting_2">
        <label for="id_mentor-detail_consulting_2">논술</label>
      </li>
      <li>
        <input type="radio" name="mentor-detail_consulting" value="예체능실기" required="" id="id_mentor-detail_consulting_3">
        <label for="id_mentor-detail_consulting_3">예체능실기</label>
      </li>
      <li>
        <input type="radio" name="mentor-detail_consulting" value="예체능비실기" required="" id="id_mentor-detail_consulting_4">
        <label for="id_mentor-detail_consulting_4">예체능비실기</label>
      </li>
      <li>
        <input type="radio" name="mentor-detail_consulting" value="특기자" required="" id="id_mentor-detail_consulting_5">
        <label for="id_mentor-detail_consulting_5">특기자</label>
      </li>
      <li>
        <input type="radio" name="mentor-detail_consulting" value="기타" required="" id="id_mentor-detail_consulting_6">
        <label for="id_mentor-detail_consulting_6">기타</label>
      </li>
    </ul>
    <label for="{{ field.id_for_label }}">{{ mentor_form.univ_categories.label }}</label>
        {{ mentor_form.univ_categories|add_class:'form-control' }}
    <label for="{{ field.id_for_label }}">{{ mentor_form.image.label }}</label>
        {{ mentor_form.image|add_class:'form-control' }}
    {% csrf_token %}
    <br>
    <br>
      <p>
        SMS광고수신에 동의합니다.[선택]
        {{ mentor_form.is_sms|add_class:'form-control' }}
        <label for="" style="float:right"></label>
      </p>
    <button class="btn btn-block" type="submit">가입하기</button>
  </form>
</div>


{{form.media.js}}

{% endblock %}