{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block head_title %}{% endblock %}

{% block style_css %}
  <link href="{% static "css/accounts.css" %}?ver=1.13" rel="stylesheet">
{% endblock %}

{% block section %}
{{form.media.css}}
<h1>회원가입</h1>


 <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
      <h4>필수 정보</h4>
      {% for field in signup_form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
  {% csrf_token %}
      <h4>프로필 정보</h4>
        <label for="{{ field.id_for_label }}">{{ mentor_form.image.label }}</label>
        {{ mentor_form.image|add_class:'form-control' }}
        <label for="{{ field.id_for_label }}">{{ mentor_form.phone_number.label }}</label>
        {{ mentor_form.phone_number|add_class:'form-control' }}
        <label for="{{ field.id_for_label }}">{{ mentor_form.consult_kind.label }}</label>
        {{ mentor_form.consult_kind|add_class:'form-control' }}
        <label for="{{ field.id_for_label }}">{{ mentor_form.detail_consulting.label }}</label>
        {{ mentor_form.detail_consulting|add_class:'form-control' }}

        <label for="{{ field.id_for_label }}">{{ mentor_form.univ_categories.label }}</label>
        {{ mentor_form.univ_categories|add_class:'form-control' }}

  <button type="submit">회원가입</button>
</form>

{{form.media.js}}

{% endblock %}

<label for="id_mentor-phone_number">휴대전화</label>
<input type="number" name="mentor-phone_number" class="form-control" required="" id="id_mentor-phone_number">