  {% extends "base.html" %}

{% load static %}

{% block css_static %}
  <link href="{% static 'css/accounts/signup_mentee.css' %}?ver=1.14" rel="stylesheet">
{% endblock %}

{% block section %}

<div class="signup_wrap">
  <h2>멘티 회원가입</h2>
  <br>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="text" name="name" maxlength="10" placeholder="이름" required="" id="id_name" class="input_box"></p>
    <input type="text" name="username" maxlength="20" autofocus="" placeholder="아이디" required="" id="id_username" class="input_box">
    <input type="password" name="password1" placeholder="비밀번호" required=""  id="id_password1" class="input_box">
    <input type="password" name="password2" placeholder="비밀번호 확인" required="" placeholder="비밀번호 확인" id="id_password2" class="input_box">

    <input type="email" name="email" placeholder="이메일" maxlength="254" id="id_email" class="input_box">
    {% csrf_token %}
    <br>
    <br>
    <p>
      SMS광고수신에 동의합니다.[선택]
      <input type="checkbox" name="mentee-is_mentee" id="id_mentee-is_mentee" class='input_checkbox'>
    </p>
    <button class="btn btn-block" type="submit">가입하기</button>
  </form>
</div>

{% endblock %}