.mentor_page{
  color:#fbb03c;
}

.select_wrap{
  display: flex;
  width: 100%;
  height: auto;
}
.select_box{
  display: flex;
  width:32%;
  height:700px;
  align-items: center;
  flex-direction: row;
  color:white;
  text-align: center;
}
.select_box a{
  margin:auto;
}
